body {
    background-image: linear-gradient(to right, #f72585, #0096c7);
}

a {
    text-decoration: none;
    color: black;
}

.a-black {
    color: black;
}


/* .card-title {
    font-size: 8rem;
} */

.card-ku,
.card-img {
    font-size: 8vw;
    border-radius: 20px;
}

.font-ku-2-5 {
    font-size: 2.5rem;
}

.font-ku-3 {
    font-size: 3rem;
}

.font-ku-4 {
    font-size: 4rem;
}

.border-ku {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    /* #ffba08; */
    border-radius: 20px;
}


/* .card-width-ku {
    width: 20px;
} */

.carousel-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 2);
}
